USE [master]
GO
/****** Object:  Database [QLHL]    Script Date: 4/21/2024 1:22:10 PM ******/
CREATE DATABASE [QLHL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLHL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLHL.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLHL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLHL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLHL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLHL]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 4/21/2024 1:22:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 4/21/2024 1:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[accountID] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](max) NOT NULL,
	[avatar] [nvarchar](max) NULL,
	[password] [nvarchar](max) NOT NULL,
	[status] [nvarchar](max) NOT NULL,
	[decentralizationId] [int] NOT NULL,
	[resetPasswordToken] [nvarchar](max) NOT NULL,
	[resetPasswordTokenExpiry] [datetime2](7) NULL,
	[createAt] [datetime2](7) NOT NULL,
	[updateAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[accountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Answers]    Script Date: 4/21/2024 1:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Answers](
	[answerID] [int] IDENTITY(1,1) NOT NULL,
	[questionID] [int] NOT NULL,
	[rightAnswer] [bit] NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[createAt] [datetime2](7) NOT NULL,
	[updateAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Answers] PRIMARY KEY CLUSTERED 
(
	[answerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseParts]    Script Date: 4/21/2024 1:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseParts](
	[coursePartID] [int] IDENTITY(1,1) NOT NULL,
	[courseID] [int] NOT NULL,
	[partTitle] [nvarchar](max) NOT NULL,
	[amout] [int] NOT NULL,
	[duration] [int] NOT NULL,
	[createAt] [datetime2](7) NOT NULL,
	[updateAt] [datetime2](7) NOT NULL,
	[index] [int] NOT NULL,
 CONSTRAINT [PK_CourseParts] PRIMARY KEY CLUSTERED 
(
	[coursePartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 4/21/2024 1:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[courseID] [int] IDENTITY(1,1) NOT NULL,
	[courseName] [nvarchar](max) NOT NULL,
	[courseDescription] [nvarchar](max) NOT NULL,
	[tutorID] [int] NOT NULL,
	[cost] [int] NOT NULL,
	[createAt] [datetime2](7) NOT NULL,
	[updateAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Courses] PRIMARY KEY CLUSTERED 
(
	[courseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Decentralizations]    Script Date: 4/21/2024 1:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Decentralizations](
	[decentralizationID] [int] IDENTITY(1,1) NOT NULL,
	[authorityName] [nvarchar](max) NOT NULL,
	[createAt] [datetime2](7) NOT NULL,
	[updateAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Decentralizations] PRIMARY KEY CLUSTERED 
(
	[decentralizationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollments]    Script Date: 4/21/2024 1:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollments](
	[enrollmentID] [int] IDENTITY(1,1) NOT NULL,
	[studentID] [int] NOT NULL,
	[courseID] [int] NOT NULL,
	[tutorID] [int] NOT NULL,
	[enrollmentDate] [datetime2](7) NOT NULL,
	[statusTypeID] [int] NOT NULL,
	[createAt] [datetime2](7) NOT NULL,
	[updateAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Enrollments] PRIMARY KEY CLUSTERED 
(
	[enrollmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exams]    Script Date: 4/21/2024 1:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exams](
	[examID] [int] IDENTITY(1,1) NOT NULL,
	[coursePartID] [int] NOT NULL,
	[examTypeID] [int] NOT NULL,
	[examName] [nvarchar](max) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[workTime] [int] NOT NULL,
	[dueDate] [datetime2](7) NOT NULL,
	[minGrade] [float] NOT NULL,
	[createAt] [datetime2](7) NOT NULL,
	[updateAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Exams] PRIMARY KEY CLUSTERED 
(
	[examID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamTypes]    Script Date: 4/21/2024 1:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamTypes](
	[examTypeID] [int] IDENTITY(1,1) NOT NULL,
	[examTypeName] [nvarchar](max) NOT NULL,
	[createAt] [datetime2](7) NOT NULL,
	[updateAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ExamTypes] PRIMARY KEY CLUSTERED 
(
	[examTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fees]    Script Date: 4/21/2024 1:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fees](
	[feeID] [int] IDENTITY(1,1) NOT NULL,
	[studentID] [int] NOT NULL,
	[courseID] [int] NOT NULL,
	[cost] [int] NOT NULL,
	[status] [nvarchar](max) NOT NULL,
	[createAt] [datetime2](7) NOT NULL,
	[updateAt] [datetime2](7) NOT NULL,
	[isChecked] [bit] NOT NULL,
 CONSTRAINT [PK_Fees] PRIMARY KEY CLUSTERED 
(
	[feeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lectures]    Script Date: 4/21/2024 1:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lectures](
	[lectureID] [int] IDENTITY(1,1) NOT NULL,
	[coursePartID] [int] NOT NULL,
	[lectureTitle] [nvarchar](max) NOT NULL,
	[lectureLink] [nvarchar](max) NOT NULL,
	[duration] [int] NULL,
	[isWatched] [bit] NOT NULL,
	[isWatching] [bit] NOT NULL,
	[isAvailable] [bit] NOT NULL,
	[createAt] [datetime2](7) NOT NULL,
	[updateAt] [datetime2](7) NOT NULL,
	[index] [int] NOT NULL,
 CONSTRAINT [PK_Lectures] PRIMARY KEY CLUSTERED 
(
	[lectureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentHistorys]    Script Date: 4/21/2024 1:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentHistorys](
	[paymentHistoryID] [int] IDENTITY(1,1) NOT NULL,
	[studentID] [int] NOT NULL,
	[paymentTypeID] [int] NOT NULL,
	[paymentName] [nvarchar](max) NOT NULL,
	[amount] [int] NOT NULL,
	[createAt] [datetime2](7) NOT NULL,
	[updateAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_PaymentHistorys] PRIMARY KEY CLUSTERED 
(
	[paymentHistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentTypes]    Script Date: 4/21/2024 1:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentTypes](
	[paymentTypeID] [int] IDENTITY(1,1) NOT NULL,
	[paymentTypeName] [nvarchar](max) NOT NULL,
	[creatAt] [datetime2](7) NOT NULL,
	[updatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_PaymentTypes] PRIMARY KEY CLUSTERED 
(
	[paymentTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 4/21/2024 1:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[questionID] [int] IDENTITY(1,1) NOT NULL,
	[examID] [int] NOT NULL,
	[questionName] [nvarchar](max) NOT NULL,
	[createAt] [datetime2](7) NOT NULL,
	[updateAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Questions] PRIMARY KEY CLUSTERED 
(
	[questionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusTypes]    Script Date: 4/21/2024 1:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusTypes](
	[statusTypeID] [int] IDENTITY(1,1) NOT NULL,
	[statusName] [nvarchar](max) NOT NULL,
	[createAt] [datetime2](7) NOT NULL,
	[updateAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_StatusTypes] PRIMARY KEY CLUSTERED 
(
	[statusTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 4/21/2024 1:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[studentID] [int] IDENTITY(1,1) NOT NULL,
	[accountID] [int] NOT NULL,
	[fullName] [nvarchar](max) NOT NULL,
	[contactNumber] [nvarchar](max) NOT NULL,
	[provinceID] [int] NULL,
	[districtID] [int] NULL,
	[communeID] [int] NULL,
	[email] [nvarchar](max) NOT NULL,
	[totalMoney] [int] NOT NULL,
	[createAt] [datetime2](7) NOT NULL,
	[updateAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[studentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Submissions]    Script Date: 4/21/2024 1:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Submissions](
	[submissionID] [int] IDENTITY(1,1) NOT NULL,
	[examID] [int] NOT NULL,
	[studentID] [int] NOT NULL,
	[submissionDate] [datetime2](7) NOT NULL,
	[examTimes] [int] NOT NULL,
	[grade] [int] NOT NULL,
	[createAt] [datetime2](7) NOT NULL,
	[updateAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Submissions] PRIMARY KEY CLUSTERED 
(
	[submissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TutorAssignments]    Script Date: 4/21/2024 1:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TutorAssignments](
	[tutorAssignmentID] [int] IDENTITY(1,1) NOT NULL,
	[tutorID] [int] NOT NULL,
	[courseID] [int] NOT NULL,
	[numberOfStudent] [int] NOT NULL,
	[assignmentDate] [datetime2](7) NOT NULL,
	[createAt] [datetime2](7) NOT NULL,
	[updateAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_TutorAssignments] PRIMARY KEY CLUSTERED 
(
	[tutorAssignmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tutors]    Script Date: 4/21/2024 1:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tutors](
	[tutorID] [int] IDENTITY(1,1) NOT NULL,
	[accountID] [int] NOT NULL,
	[fullName] [nvarchar](max) NOT NULL,
	[contactNumber] [nvarchar](max) NOT NULL,
	[provinceID] [int] NULL,
	[districtID] [int] NULL,
	[communeID] [int] NULL,
	[email] [nvarchar](max) NOT NULL,
	[createAt] [datetime2](7) NOT NULL,
	[updateAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Tutors] PRIMARY KEY CLUSTERED 
(
	[tutorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VerifyCodes]    Script Date: 4/21/2024 1:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VerifyCodes](
	[verifyCodeID] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](max) NOT NULL,
	[code] [nvarchar](max) NOT NULL,
	[expiredTime] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_VerifyCodes] PRIMARY KEY CLUSTERED 
(
	[verifyCodeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20231202103843_initialv1', N'6.0.25')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20231205081034_initalv5', N'6.0.25')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20231205081132_initalv6', N'6.0.25')
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([accountID], [email], [avatar], [password], [status], [decentralizationId], [resetPasswordToken], [resetPasswordTokenExpiry], [createAt], [updateAt]) VALUES (5, N'tutor01@gmail.com', N'', N'$2a$12$e1cT7Rd7ilhQOn1yyAXx3uZPEPDVbapu6S854Z0jhFXKgBedr5PoS', N'Working', 3, N'', CAST(N'2023-12-05T14:37:43.2799505' AS DateTime2), CAST(N'2023-12-05T14:37:43.2799532' AS DateTime2), CAST(N'2023-12-05T14:37:43.2800230' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[CourseParts] ON 

INSERT [dbo].[CourseParts] ([coursePartID], [courseID], [partTitle], [amout], [duration], [createAt], [updateAt], [index]) VALUES (2, 3, N'Getting Started', 3, 15, CAST(N'2023-12-05T15:07:08.5381703' AS DateTime2), CAST(N'2023-12-05T15:07:08.5381715' AS DateTime2), 1)
INSERT [dbo].[CourseParts] ([coursePartID], [courseID], [partTitle], [amout], [duration], [createAt], [updateAt], [index]) VALUES (3, 3, N'User Interface Vs User Experience', 3, 15, CAST(N'2023-12-05T15:07:25.0979717' AS DateTime2), CAST(N'2023-12-05T15:07:25.0979727' AS DateTime2), 2)
INSERT [dbo].[CourseParts] ([coursePartID], [courseID], [partTitle], [amout], [duration], [createAt], [updateAt], [index]) VALUES (4, 3, N'Design Fundamental', 3, 15, CAST(N'2023-12-05T15:07:32.3271881' AS DateTime2), CAST(N'2023-12-05T15:07:32.3271891' AS DateTime2), 3)
SET IDENTITY_INSERT [dbo].[CourseParts] OFF
GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([courseID], [courseName], [courseDescription], [tutorID], [cost], [createAt], [updateAt]) VALUES (3, N'C#', N'si sap', 1, 10000000, CAST(N'2023-12-05T14:57:01.1786584' AS DateTime2), CAST(N'2023-12-05T14:57:01.1786597' AS DateTime2))
INSERT [dbo].[Courses] ([courseID], [courseName], [courseDescription], [tutorID], [cost], [createAt], [updateAt]) VALUES (4, N'React', N'ri ac', 1, 10000000, CAST(N'2023-12-05T21:26:54.7902809' AS DateTime2), CAST(N'2023-12-05T21:26:54.7903225' AS DateTime2))
INSERT [dbo].[Courses] ([courseID], [courseName], [courseDescription], [tutorID], [cost], [createAt], [updateAt]) VALUES (5, N'Java', N'ri ac', 1, 10000000, CAST(N'2023-12-05T21:27:16.6367327' AS DateTime2), CAST(N'2023-12-05T21:27:16.6367340' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Courses] OFF
GO
SET IDENTITY_INSERT [dbo].[Decentralizations] ON 

INSERT [dbo].[Decentralizations] ([decentralizationID], [authorityName], [createAt], [updateAt]) VALUES (1, N'Admin', CAST(N'2023-12-04T21:29:51.0000000' AS DateTime2), CAST(N'2023-12-04T21:29:53.0000000' AS DateTime2))
INSERT [dbo].[Decentralizations] ([decentralizationID], [authorityName], [createAt], [updateAt]) VALUES (2, N'Student', CAST(N'2023-12-04T21:29:59.0000000' AS DateTime2), CAST(N'2023-12-04T21:30:01.0000000' AS DateTime2))
INSERT [dbo].[Decentralizations] ([decentralizationID], [authorityName], [createAt], [updateAt]) VALUES (3, N'Tutor', CAST(N'2023-12-04T21:30:06.0000000' AS DateTime2), CAST(N'2023-12-04T21:30:08.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Decentralizations] OFF
GO
SET IDENTITY_INSERT [dbo].[Enrollments] ON 

INSERT [dbo].[Enrollments] ([enrollmentID], [studentID], [courseID], [tutorID], [enrollmentDate], [statusTypeID], [createAt], [updateAt]) VALUES (3, 1, 3, 1, CAST(N'2023-12-06T09:09:02.3130000' AS DateTime2), 1, CAST(N'2023-12-06T16:52:56.1124117' AS DateTime2), CAST(N'2023-12-06T16:52:56.1125405' AS DateTime2))
INSERT [dbo].[Enrollments] ([enrollmentID], [studentID], [courseID], [tutorID], [enrollmentDate], [statusTypeID], [createAt], [updateAt]) VALUES (29, 1, 4, 1, CAST(N'2023-12-06T16:14:01.0470000' AS DateTime2), 1, CAST(N'2023-12-07T14:53:57.9309828' AS DateTime2), CAST(N'2023-12-07T14:53:57.9309849' AS DateTime2))
INSERT [dbo].[Enrollments] ([enrollmentID], [studentID], [courseID], [tutorID], [enrollmentDate], [statusTypeID], [createAt], [updateAt]) VALUES (30, 1, 5, 1, CAST(N'2023-12-06T16:14:01.0470000' AS DateTime2), 1, CAST(N'2023-12-07T14:55:43.0329606' AS DateTime2), CAST(N'2023-12-07T14:55:43.0329629' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Enrollments] OFF
GO
SET IDENTITY_INSERT [dbo].[Exams] ON 

INSERT [dbo].[Exams] ([examID], [coursePartID], [examTypeID], [examName], [description], [workTime], [dueDate], [minGrade], [createAt], [updateAt]) VALUES (1, 3, 1, N'Test01', N'none', 5, CAST(N'2023-12-07T08:58:49.7040000' AS DateTime2), 5, CAST(N'2023-12-07T15:59:27.9107971' AS DateTime2), CAST(N'2023-12-07T15:59:27.9108326' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Exams] OFF
GO
SET IDENTITY_INSERT [dbo].[ExamTypes] ON 

INSERT [dbo].[ExamTypes] ([examTypeID], [examTypeName], [createAt], [updateAt]) VALUES (1, N'Test', CAST(N'2023-12-07T15:57:48.6424596' AS DateTime2), CAST(N'2023-12-07T15:57:48.6426025' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ExamTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Fees] ON 

INSERT [dbo].[Fees] ([feeID], [studentID], [courseID], [cost], [status], [createAt], [updateAt], [isChecked]) VALUES (1, 1, 3, 10000000, N'Done', CAST(N'2023-12-06T16:52:56.1491525' AS DateTime2), CAST(N'2023-12-06T16:52:56.1491899' AS DateTime2), 0)
INSERT [dbo].[Fees] ([feeID], [studentID], [courseID], [cost], [status], [createAt], [updateAt], [isChecked]) VALUES (27, 1, 4, 10000000, N'Done', CAST(N'2023-12-07T14:53:57.9385232' AS DateTime2), CAST(N'2023-12-07T14:53:57.9385252' AS DateTime2), 0)
INSERT [dbo].[Fees] ([feeID], [studentID], [courseID], [cost], [status], [createAt], [updateAt], [isChecked]) VALUES (28, 1, 5, 10000000, N'Done', CAST(N'2023-12-07T14:55:43.0609733' AS DateTime2), CAST(N'2023-12-07T14:55:43.0609772' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[Fees] OFF
GO
SET IDENTITY_INSERT [dbo].[Lectures] ON 

INSERT [dbo].[Lectures] ([lectureID], [coursePartID], [lectureTitle], [lectureLink], [duration], [isWatched], [isWatching], [isAvailable], [createAt], [updateAt], [index]) VALUES (1, 2, N'Course Introduction', N'https://www.youtube.com/embed/RmY5OdmC7Ps?si=bTp--7hOIczsrRw8', 5, 0, 0, 0, CAST(N'2023-12-05T15:13:59.5711005' AS DateTime2), CAST(N'2023-12-05T15:13:59.5711218' AS DateTime2), 1)
INSERT [dbo].[Lectures] ([lectureID], [coursePartID], [lectureTitle], [lectureLink], [duration], [isWatched], [isWatching], [isAvailable], [createAt], [updateAt], [index]) VALUES (4, 5, N'Course Introduction', N'https://www.youtube.com/embed/RmY5OdmC7Ps?si=bTp--7hOIczsrRw8', 5, 0, 0, 0, CAST(N'2023-12-05T15:14:34.0945441' AS DateTime2), CAST(N'2023-12-05T15:14:34.0945453' AS DateTime2), 1)
INSERT [dbo].[Lectures] ([lectureID], [coursePartID], [lectureTitle], [lectureLink], [duration], [isWatched], [isWatching], [isAvailable], [createAt], [updateAt], [index]) VALUES (5, 6, N'Course Introduction', N'https://www.youtube.com/embed/RmY5OdmC7Ps?si=bTp--7hOIczsrRw8', 5, 0, 0, 0, CAST(N'2023-12-05T15:14:36.7338071' AS DateTime2), CAST(N'2023-12-05T15:14:36.7338081' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Lectures] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentHistorys] ON 

INSERT [dbo].[PaymentHistorys] ([paymentHistoryID], [studentID], [paymentTypeID], [paymentName], [amount], [createAt], [updateAt]) VALUES (2, 1, 2, N'Pay for course 3.', 10000000, CAST(N'2023-12-06T21:16:21.6045155' AS DateTime2), CAST(N'2023-12-06T21:16:21.6047174' AS DateTime2))
INSERT [dbo].[PaymentHistorys] ([paymentHistoryID], [studentID], [paymentTypeID], [paymentName], [amount], [createAt], [updateAt]) VALUES (3, 1, 2, N'Pay for course 4.', 10000000, CAST(N'2023-12-07T14:54:15.2616760' AS DateTime2), CAST(N'2023-12-07T14:54:15.2619779' AS DateTime2))
INSERT [dbo].[PaymentHistorys] ([paymentHistoryID], [studentID], [paymentTypeID], [paymentName], [amount], [createAt], [updateAt]) VALUES (4, 1, 2, N'Pay for course 5.', 10000000, CAST(N'2023-12-07T14:55:52.6965185' AS DateTime2), CAST(N'2023-12-07T14:55:52.6965219' AS DateTime2))
SET IDENTITY_INSERT [dbo].[PaymentHistorys] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentTypes] ON 

INSERT [dbo].[PaymentTypes] ([paymentTypeID], [paymentTypeName], [creatAt], [updatedAt]) VALUES (1, N'in', CAST(N'2023-12-06T21:13:42.6575332' AS DateTime2), CAST(N'2023-12-06T21:13:42.6575600' AS DateTime2))
INSERT [dbo].[PaymentTypes] ([paymentTypeID], [paymentTypeName], [creatAt], [updatedAt]) VALUES (2, N'out', CAST(N'2023-12-06T21:13:47.3864922' AS DateTime2), CAST(N'2023-12-06T21:13:47.3864937' AS DateTime2))
SET IDENTITY_INSERT [dbo].[PaymentTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[StatusTypes] ON 

INSERT [dbo].[StatusTypes] ([statusTypeID], [statusName], [createAt], [updateAt]) VALUES (1, N'InProgress', CAST(N'2023-12-05T16:56:23.3195046' AS DateTime2), CAST(N'2023-12-05T16:56:23.3195486' AS DateTime2))
INSERT [dbo].[StatusTypes] ([statusTypeID], [statusName], [createAt], [updateAt]) VALUES (2, N'Reserve', CAST(N'2023-12-06T16:13:21.8180208' AS DateTime2), CAST(N'2023-12-06T16:13:21.8180680' AS DateTime2))
INSERT [dbo].[StatusTypes] ([statusTypeID], [statusName], [createAt], [updateAt]) VALUES (3, N'Stopped', CAST(N'2023-12-06T16:13:40.1174646' AS DateTime2), CAST(N'2023-12-06T16:13:40.1174659' AS DateTime2))
SET IDENTITY_INSERT [dbo].[StatusTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([studentID], [accountID], [fullName], [contactNumber], [provinceID], [districtID], [communeID], [email], [totalMoney], [createAt], [updateAt]) VALUES (1, 1, N'Do Dong Duong', N'0369901275', NULL, NULL, NULL, N'student01@gmail.com', 7398566, CAST(N'2023-12-04T21:31:23.6335917' AS DateTime2), CAST(N'2023-12-04T21:31:23.6336505' AS DateTime2))
INSERT [dbo].[Students] ([studentID], [accountID], [fullName], [contactNumber], [provinceID], [districtID], [communeID], [email], [totalMoney], [createAt], [updateAt]) VALUES (2, 6, N'Do Dong Duong', N'0', NULL, NULL, NULL, N'', 0, CAST(N'2023-12-05T23:16:22.1061606' AS DateTime2), CAST(N'2023-12-05T23:16:22.1062116' AS DateTime2))
INSERT [dbo].[Students] ([studentID], [accountID], [fullName], [contactNumber], [provinceID], [districtID], [communeID], [email], [totalMoney], [createAt], [updateAt]) VALUES (4, 8, N'Do Dong Duong', N'0', NULL, NULL, NULL, N'', 2, CAST(N'2023-12-05T23:31:36.9841374' AS DateTime2), CAST(N'2023-12-05T23:31:36.9841385' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Students] OFF
GO
SET IDENTITY_INSERT [dbo].[TutorAssignments] ON 

INSERT [dbo].[TutorAssignments] ([tutorAssignmentID], [tutorID], [courseID], [numberOfStudent], [assignmentDate], [createAt], [updateAt]) VALUES (1, 1, 3, 2, CAST(N'2023-12-06T09:51:48.9470000' AS DateTime2), CAST(N'2023-12-06T16:52:41.6596278' AS DateTime2), CAST(N'2023-12-06T16:52:41.6596599' AS DateTime2))
INSERT [dbo].[TutorAssignments] ([tutorAssignmentID], [tutorID], [courseID], [numberOfStudent], [assignmentDate], [createAt], [updateAt]) VALUES (2, 1, 4, 1, CAST(N'2023-12-06T16:22:47.9790000' AS DateTime2), CAST(N'2023-12-06T23:23:35.3445199' AS DateTime2), CAST(N'2023-12-06T23:23:35.3445616' AS DateTime2))
INSERT [dbo].[TutorAssignments] ([tutorAssignmentID], [tutorID], [courseID], [numberOfStudent], [assignmentDate], [createAt], [updateAt]) VALUES (3, 1, 5, 1, CAST(N'2023-12-06T16:22:47.9790000' AS DateTime2), CAST(N'2023-12-06T23:23:38.6093854' AS DateTime2), CAST(N'2023-12-06T23:23:38.6093910' AS DateTime2))
SET IDENTITY_INSERT [dbo].[TutorAssignments] OFF
GO
SET IDENTITY_INSERT [dbo].[Tutors] ON 

INSERT [dbo].[Tutors] ([tutorID], [accountID], [fullName], [contactNumber], [provinceID], [districtID], [communeID], [email], [createAt], [updateAt]) VALUES (1, 5, N'Tro Giang', N'012345', 1, 2, 3, N'tutor01@gmail.com', CAST(N'2023-12-05T14:56:22.5129791' AS DateTime2), CAST(N'2023-12-05T14:56:22.5130243' AS DateTime2))
INSERT [dbo].[Tutors] ([tutorID], [accountID], [fullName], [contactNumber], [provinceID], [districtID], [communeID], [email], [createAt], [updateAt]) VALUES (4, 13, N'Trợ Giảng VIP', N'012345', 11, 98, 3226, N'test1@gmail.com', CAST(N'2023-12-26T15:15:42.3245805' AS DateTime2), CAST(N'2023-12-26T15:15:42.3245817' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Tutors] OFF
GO
/****** Object:  Index [IX_Accounts_decentralizationId]    Script Date: 4/21/2024 1:22:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_Accounts_decentralizationId] ON [dbo].[Accounts]
(
	[decentralizationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Answers_questionID]    Script Date: 4/21/2024 1:22:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_Answers_questionID] ON [dbo].[Answers]
(
	[questionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CourseParts_courseID]    Script Date: 4/21/2024 1:22:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_CourseParts_courseID] ON [dbo].[CourseParts]
(
	[courseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Courses_tutorID]    Script Date: 4/21/2024 1:22:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_Courses_tutorID] ON [dbo].[Courses]
(
	[tutorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Enrollments_statusTypeID]    Script Date: 4/21/2024 1:22:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_Enrollments_statusTypeID] ON [dbo].[Enrollments]
(
	[statusTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Enrollments_studentID]    Script Date: 4/21/2024 1:22:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_Enrollments_studentID] ON [dbo].[Enrollments]
(
	[studentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Exams_coursePartID]    Script Date: 4/21/2024 1:22:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_Exams_coursePartID] ON [dbo].[Exams]
(
	[coursePartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Exams_examTypeID]    Script Date: 4/21/2024 1:22:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_Exams_examTypeID] ON [dbo].[Exams]
(
	[examTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Fees_studentID]    Script Date: 4/21/2024 1:22:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_Fees_studentID] ON [dbo].[Fees]
(
	[studentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Lectures_coursePartID]    Script Date: 4/21/2024 1:22:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_Lectures_coursePartID] ON [dbo].[Lectures]
(
	[coursePartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PaymentHistorys_paymentTypeID]    Script Date: 4/21/2024 1:22:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_PaymentHistorys_paymentTypeID] ON [dbo].[PaymentHistorys]
(
	[paymentTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PaymentHistorys_studentID]    Script Date: 4/21/2024 1:22:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_PaymentHistorys_studentID] ON [dbo].[PaymentHistorys]
(
	[studentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Questions_examID]    Script Date: 4/21/2024 1:22:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_Questions_examID] ON [dbo].[Questions]
(
	[examID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Students_accountID]    Script Date: 4/21/2024 1:22:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_Students_accountID] ON [dbo].[Students]
(
	[accountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Submissions_studentID]    Script Date: 4/21/2024 1:22:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_Submissions_studentID] ON [dbo].[Submissions]
(
	[studentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TutorAssignments_tutorID]    Script Date: 4/21/2024 1:22:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_TutorAssignments_tutorID] ON [dbo].[TutorAssignments]
(
	[tutorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tutors_accountID]    Script Date: 4/21/2024 1:22:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_Tutors_accountID] ON [dbo].[Tutors]
(
	[accountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CourseParts] ADD  DEFAULT ((0)) FOR [index]
GO
ALTER TABLE [dbo].[Fees] ADD  DEFAULT (CONVERT([bit],(0))) FOR [isChecked]
GO
ALTER TABLE [dbo].[Lectures] ADD  DEFAULT ((0)) FOR [index]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [FK_Accounts_Decentralizations_decentralizationId] FOREIGN KEY([decentralizationId])
REFERENCES [dbo].[Decentralizations] ([decentralizationID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK_Accounts_Decentralizations_decentralizationId]
GO
ALTER TABLE [dbo].[Answers]  WITH CHECK ADD  CONSTRAINT [FK_Answers_Questions_questionID] FOREIGN KEY([questionID])
REFERENCES [dbo].[Questions] ([questionID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Answers] CHECK CONSTRAINT [FK_Answers_Questions_questionID]
GO
ALTER TABLE [dbo].[CourseParts]  WITH CHECK ADD  CONSTRAINT [FK_CourseParts_Courses_courseID] FOREIGN KEY([courseID])
REFERENCES [dbo].[Courses] ([courseID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CourseParts] CHECK CONSTRAINT [FK_CourseParts_Courses_courseID]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK_Courses_Tutors_tutorID] FOREIGN KEY([tutorID])
REFERENCES [dbo].[Tutors] ([tutorID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_Courses_Tutors_tutorID]
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD  CONSTRAINT [FK_Enrollments_StatusTypes_statusTypeID] FOREIGN KEY([statusTypeID])
REFERENCES [dbo].[StatusTypes] ([statusTypeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Enrollments] CHECK CONSTRAINT [FK_Enrollments_StatusTypes_statusTypeID]
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD  CONSTRAINT [FK_Enrollments_Students_studentID] FOREIGN KEY([studentID])
REFERENCES [dbo].[Students] ([studentID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Enrollments] CHECK CONSTRAINT [FK_Enrollments_Students_studentID]
GO
ALTER TABLE [dbo].[Exams]  WITH CHECK ADD  CONSTRAINT [FK_Exams_CourseParts_coursePartID] FOREIGN KEY([coursePartID])
REFERENCES [dbo].[CourseParts] ([coursePartID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Exams] CHECK CONSTRAINT [FK_Exams_CourseParts_coursePartID]
GO
ALTER TABLE [dbo].[Exams]  WITH CHECK ADD  CONSTRAINT [FK_Exams_ExamTypes_examTypeID] FOREIGN KEY([examTypeID])
REFERENCES [dbo].[ExamTypes] ([examTypeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Exams] CHECK CONSTRAINT [FK_Exams_ExamTypes_examTypeID]
GO
ALTER TABLE [dbo].[Fees]  WITH CHECK ADD  CONSTRAINT [FK_Fees_Students_studentID] FOREIGN KEY([studentID])
REFERENCES [dbo].[Students] ([studentID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Fees] CHECK CONSTRAINT [FK_Fees_Students_studentID]
GO
ALTER TABLE [dbo].[Lectures]  WITH CHECK ADD  CONSTRAINT [FK_Lectures_CourseParts_coursePartID] FOREIGN KEY([coursePartID])
REFERENCES [dbo].[CourseParts] ([coursePartID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Lectures] CHECK CONSTRAINT [FK_Lectures_CourseParts_coursePartID]
GO
ALTER TABLE [dbo].[PaymentHistorys]  WITH CHECK ADD  CONSTRAINT [FK_PaymentHistorys_PaymentTypes_paymentTypeID] FOREIGN KEY([paymentTypeID])
REFERENCES [dbo].[PaymentTypes] ([paymentTypeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PaymentHistorys] CHECK CONSTRAINT [FK_PaymentHistorys_PaymentTypes_paymentTypeID]
GO
ALTER TABLE [dbo].[PaymentHistorys]  WITH CHECK ADD  CONSTRAINT [FK_PaymentHistorys_Students_studentID] FOREIGN KEY([studentID])
REFERENCES [dbo].[Students] ([studentID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PaymentHistorys] CHECK CONSTRAINT [FK_PaymentHistorys_Students_studentID]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_Questions_Exams_examID] FOREIGN KEY([examID])
REFERENCES [dbo].[Exams] ([examID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_Questions_Exams_examID]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Accounts_accountID] FOREIGN KEY([accountID])
REFERENCES [dbo].[Accounts] ([accountID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Accounts_accountID]
GO
ALTER TABLE [dbo].[Submissions]  WITH CHECK ADD  CONSTRAINT [FK_Submissions_Students_studentID] FOREIGN KEY([studentID])
REFERENCES [dbo].[Students] ([studentID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Submissions] CHECK CONSTRAINT [FK_Submissions_Students_studentID]
GO
ALTER TABLE [dbo].[TutorAssignments]  WITH CHECK ADD  CONSTRAINT [FK_TutorAssignments_Tutors_tutorID] FOREIGN KEY([tutorID])
REFERENCES [dbo].[Tutors] ([tutorID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TutorAssignments] CHECK CONSTRAINT [FK_TutorAssignments_Tutors_tutorID]
GO
ALTER TABLE [dbo].[Tutors]  WITH CHECK ADD  CONSTRAINT [FK_Tutors_Accounts_accountID] FOREIGN KEY([accountID])
REFERENCES [dbo].[Accounts] ([accountID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tutors] CHECK CONSTRAINT [FK_Tutors_Accounts_accountID]
GO
USE [master]
GO
